@{
    ViewBag.Title = "Home Page";
}

<img id="img1" alt="Image1.png" src="@Url.Content("~/Content/images/moviespng.png")" style="margin-top: 100px; margin-left: 70px; margin-bottom: 50px;">

<div class="jumbotron" >
    <h1>Pandora Movies Rental</h1>
    <p class="lead">
        Watch everywhere. Rent unlimited films and TV programmes 
    </p>
    <p><a href="#" class="btn btn-primary btn-lg">Browse &raquo;</a></p>
</div>
  

<div class="row">
    <div class="col-md-4">
        <h2>Movies</h2>
        <div class="card" style="width: 18rem;">
            <img src="@Url.Content("~/Content/images/movies3.jpeg")" class="card-img-top" alt="ImageOne" style="width: auto; height: 400px">
        </div>

        <p>
            make family movie night fun and easy
        </p>
        <p class="btn btn-default">
            @Html.ActionLink("more", "Index", "Movies")
        </p>
    </div>



    <div class="col-md-4">
        <h2>Get more Selection</h2>
        <div class="card" style="width: 18rem;">
            <img src="@Url.Content("~/Content/images/movies2.jpeg")" class="card-img-top" alt="ImageOne" style="width: auto; height: 400px">
        </div>
        <p>Unlimited movies, TV shows, and more.</p>
        <p class="btn btn-default">
            @Html.ActionLink("Explore", "Index", "Movies")
        </p>
    </div>



    <div class="col-md-4">
        <h2>Register here</h2>
        <div class="card" style="width: 18rem;">
            <img src="@Url.Content("~/Content/images/movies1.jpg")" class="card-img-top" alt="ImageOne" style="width: auto; height: 400px">
        </div>
        <p>Ready to watch? Enter your email to create or restart your membership..</p>
        <p class="btn btn-default">
            @Html.ActionLink("Register", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>






